<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/adminhtml/menu.xsd">
    <menu>
        <add id="Parser_ParserModule::parser" title="News Parser"
             module="Parser_ParserModule" resource="Parser_ParserModule::parser" parent="Magento_Tax::sales_tax"
             translate="title" sortOrder="900" action="parser"/>
    </menu>
</config>
