<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <customshipping>
                <active>0</active>
                <model>Shipping\ShippingModule\Model\Carrier\Shipping</model>
                <title>My Shipping Module</title>
                <name>My shipping method</name>
                <discount_starts>200</discount_starts>
                <discount_ends>999</discount_ends>
                <shipping_cost>20</shipping_cost>
                <sallowspecific>0</sallowspecific>
                <sort_order>10</sort_order>
                <discount>50</discount>
                <free_shipping>1000</free_shipping>
            </customshipping>
        </carriers>
    </default>
</config>
