<?xml version='1.0'?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='urn:magento:framework:Event/etc/events.xsd'>
    <event name='controller_action_catalog_product_save_entity_after'>
        <observer name='Acl_AclModule_Product_Save_After' instance='Acl\AclModule\Observer\ProductSaveAfter' />
    </event>
    <event name="catalog_product_load_after">
        <observer name="product_lock_attributes" instance="Acl\AclModule\Observer\LockAttribute"/>
    </event>
</config>
